@use '../utils' as *;

.content {
  .top-rated__rated {
    .checked {
      color: #f8d73f;
      // -webkit-text-stroke: initial;
      // background-color: #f8d73f;
    }
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: rem(30);
  }

  //top-rated
  .top-rated {
    padding: 0 rem(19);
    border: 1px solid #e1e1e1;
    margin-bottom: rem(30);
    span {
      display: block;
      text-align: center;
      font-family: var(--font-rale);
      font-weight: 700;
      font-size: rem(18);
      padding-top: rem(14);
      padding-bottom: rem(21);
      border-bottom: 1px solid #e1e1e1;
      text-transform: uppercase;
    }
    &__grid {
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
    }
    &__item {
      display: flex;
      padding: rem(20) 0;
      font-family: var(--font-lato);
      font-weight: 400;
      font-size: rem(13);
    }

    &__img {
      object-fit: contain;
      object-position: center;
      padding-right: rem(20);
    }
    &__item-content {
      flex: 1;
      padding-right: rem(20);

      span {
        border: none;
        line-height: 1.915;
        text-align: left;
        padding: 0;
        opacity: 0.6;
        transform: matrix(1.00074921037202, 0, 0, 0.99561258096967, 0, 0);
      }
      p {
        line-height: 1.778;
        font-size: rem(16);
        font-weight: 700;
      }
    }
  }

  //ads
  .ads {
    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: rem(380);
      align-items: flex-end;
      justify-content: center;
      text-align: center;
    }

    &__wrap {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &:hover {
        background-image: url(../../img/adv/a2.jpg) !important;
      }
    }

    &__item {
      fieldset {
        margin: rem(20);
        border: rem(5) solid;
        transform: rotate(180deg);
        font-family: var(--font-rale);
        font-weight: 800;
        legend {
          padding: 0 rem(10);
          transform: rotate(180deg);
          font-size: rem(30);
        }
        h1 {
          display: inline-block;
          font-size: rem(40);
          transform: rotate(180deg);
          padding: 0;
        }
      }
    }
  }

  //product
  .featured_products {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(63, 63, 63);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.056;
    text-align: right;
    position: absolute;
    left: 1015.844px;
    top: 1036.496px;
    z-index: 395;
  }
  .products {
    border: 1px solid #e1e1e1;
    padding: 0 rem(25);
    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: rem(16);
      padding-bottom: rem(21);
      margin: 0 rem(10);
      border-bottom: 1px solid #e1e1e1;
      .is-selected {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -100%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: rem(5) solid transparent;
          border-right: rem(5) solid transparent;
          border-bottom: rem(5) solid rgb(63, 63, 63);
        }
      }
      span {
        font-family: var(--font-rale);
        font-size: rem(18);
        font-weight: 700;
        opacity: 0.7;
        transition: 0.4s;
        text-transform: uppercase;
        padding: 0 rem(40);
        cursor: pointer;
        &:not(:last-of-type) {
          border-right: 1px solid #e1e1e1;
        }
      }
      p {
        position: relative;
        padding: rem(8) rem(14);
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          top: rem(-1);
          left: rem(-1);
          height: 100%;
          width: 100%;
          border: rem(2) solid #e1e1e1;
          box-sizing: content-box;
          z-index: -1;
        }
      }
    }

    &__features {
      padding: rem(20) 0;
    }

    &__grid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(30);
      text-align: center;
      font-family: var(--font-lato);
      font-weight: 400;
      width: 100%;
    }

    &__item {
      width: calc((100% - (30 * 3 * 0.0625rem)) / 4);

      & > span {
        font-size: rem(13);
        text-transform: uppercase;
        opacity: 0.7;
        line-height: 1.915;
        transform: matrix(1.00074921037202, 0, 0, 0.99561258096967, 0, 0);
      }
      & > p {
        color: rgb(63, 63, 63);
        font-size: rem(14);
        font-weight: 700;
        line-height: 1.778;
        transform: matrix(1.00074921037202, 0, 0, 0.99561258096967, 0, 0);
        span {
          font-weight: 800;
        }
      }

      img {
        object-fit: contain;
        object-position: center;
        padding-bottom: rem(20);
      }
    }
  }

  //special
  .special {
    padding: 0 rem(20);
    padding-bottom: rem(30);
    text-align: center;
    border: 1px solid #e1e1e1;
    .wrapper_content {
      display: flex;
      gap: rem(30);
    }
    & > span {
      display: block;
      font-family: var(--font-rale);
      font-size: rem(18);
      font-weight: 700;
      opacity: 0.7;
      transition: 0.4s;
      text-transform: uppercase;
      border-bottom: 1px solid #e1e1e1;
      padding: rem(20) 0;
      margin-bottom: rem(20);
      &::after {
        bottom: 0;
      }
    }

    &__left {
    }
    &__main {
      object-fit: cover;
      object-position: center;
      & > span {
        display: block;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(30);
    }
    &__item {
      display: flex;
      width: calc((100% - (30 * 0.0625rem)) / 2);
    }
    &__img {
      margin-right: rem(20);
    }
    &__content {
      flex: 1;
      text-align: left;
    }
  }
}
